body {
	background-color: #ecf0f1;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	min-height:100vh;
}
#bCard{
	padding:20px;
	background-color: white;
	box-shadow: 5px 5px rgba(0,0,0,0.1);
	max-width: 50vw;
	text-align: center;

}
.quote{
	font-weight: 200;
	font-style: italic;
	font-size: 1.5rem;
}
img{
	border: 8px solid #ecf0f1;
	width: 50%;
	max-width: 150px;
	border-radius: 50%;
}
a:link, a:visited{
	color: #ecf0f1;
}
a:hover{
	color: #2980b9;
}